<script id="profilerTemplate" type="text/x-jquery-tmpl">

  <div class="profiler-result">

    <div class="profiler-button {{if HasDuplicateSqlTimings}}profiler-warning{{/if}}">
    {{if HasDuplicateSqlTimings}}<span class="profiler-nuclear">!</span>{{/if}}
      <span class="profiler-number">
        ${Name}
      </span>
    </div>

    <div class="profiler-popup">
      <div class="profiler-info">
        <span class="profiler-name">
          Path ${Name}
        </span>
        <br style="clear: both;" />
      </div>
      <div class="profiler-output">
        <table class="profiler-timings">
          <tbody>
            {{tmpl({timing:Root, page:this.data}) "#timingTemplate"}}
          </tbody>
        </table>
      </div>
    </div>


  </div>

</script>

<script id="linksTemplate" type="text/x-jquery-tmpl">
  <a href="${MiniProfiler.shareUrl(Id)}" class="profiler-share-profiler-results" target="_blank">share</a>
  {{if CustomLink}}
  <a href="${CustomLink}" class="profiler-custom-link" target="_blank">${CustomLinkName}</a>
  {{/if}}
  {{if HasTrivialTimings}}
  <a class="profiler-toggle-trivial" data-show-on-load="${HasAllTrivialTimings}" title="toggles any rows with &lt; ${TrivialDurationThresholdMilliseconds} ms">
    show trivial
  </a>
  {{/if}}
</script>

<script id="timingTemplate" type="text/x-jquery-tmpl">

  <tr class="{{if timing.IsTrivial }}profiler-trivial{{/if}}" data-timing-id="${timing.Id}">
    <td class="profiler-label" title="{{if timing.Name && timing.Name.length > 45 }}${timing.Name}{{/if}}">
      <span class="profiler-indent">${MiniProfiler.renderIndent(timing.Depth)}</span> ${timing.Name.slice(0,45)}{{if timing.Name && timing.Name.length > 45 }}...{{/if}}
    </td>

  {{each page.CustomTimingNames}}
    {{if timing.CustomTimings && timing.CustomTimings[$value]}}
      <td class="profiler-duration" title="aggregate number of all ${$value.toLowerCase()} invocations in this step (excludes children)">
        ${timing.CustomTimings[$value].length} ${$value.toLowerCase()}
      </td>
      <td class="profiler-duration" title="aggregate duration of all ${$value.toLowerCase()} invocations in this step (excludes children)">
        ${MiniProfiler.formatDuration(timing.CustomTimingStats[$value].Duration)}
      </td>
    {{else}}
      <td colspan="2"></td>
    {{/if}}
  {{/each}}

  </tr>

  {{if timing.HasChildren}}
    {{each timing.Children}}
      {{tmpl({timing: $value, page: page}) "#timingTemplate"}}
    {{/each}}
  {{/if}}

</script>

<script id="sqlTimingTemplate" type="text/x-jquery-tmpl">

  <tr class="{{if i % 2 == 1}}profiler-odd{{/if}}" data-timing-id="${s.ParentTimingId}">
    <td class="profiler-info">
      <div>${s.ParentTimingName}</div>
      <div class="profiler-number"><span class="profiler-unit">T+</span>${MiniProfiler.formatDuration(s.StartMilliseconds)} <span class="profiler-unit">ms</span></div>
      <div>
        {{if s.IsDuplicate}}<span class="profiler-warning">DUPLICATE</span>{{/if}}
        ${MiniProfiler.renderExecuteType(s.ExecuteType)}
      </div>
      <div title="{{if s.ExecuteType == 3}}first result fetched: ${s.FirstFetchDurationMilliseconds}ms{{/if}}">${MiniProfiler.formatDuration(s.DurationMilliseconds)} <span class="profiler-unit">ms</span></div>
    </td>
    <td>
      <div class="query">
        <pre class="profiler-stack-trace">${s.StackTraceSnippet}</pre>
        <pre class="prettyprint lang-sql"><code>${s.FormattedCommandString}   </code></pre>
      </div>
    </td>
  </tr>

</script>

<script id="sqlGapTemplate" type="text/x-jquery-tmpl">

  <tr class="profiler-gap-info{{if g.duration < 4}} profiler-trivial-gaps{{/if}}">
    <td class="profiler-info">
      ${g.duration} <span class="profiler-unit">ms</span>  
    </td>
    <td class="query">
      <div>${g.topReason.name} &mdash; ${g.topReason.duration.toFixed(2)} <span class="profiler-unit">ms</span></div>
    </td>
  </tr>

</script>
